body {
    margin: 0;
    padding: 0;
    background-color: #1d2364;
    color: #9e9ea4;
    font-size: 'Montserrat', sans-serif;
}

.icon {
    vertical-align: middle;
    line-height: 1px;
    font-size: 20px;
}

.icon_header {
    vertical-align: middle;
    line-height: 1px;
    font-size: 26px; 
}

.icon .icon_header {
    margin-right: 5px;
    
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
    'sidebar header header header'
    'sidebar main main main';
    height: 100vh;
}

/* Header */
.header {
    grid-area: header;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30pc 0 30px;
    box-shadow: 0 6pc 7px -3px rgba(0,0,0,0.35);
}

.menu_icon {
    display: none;
}
/* header end */

/* sidebar */

/* sidebar end */

